@{
    ViewBag.Title = "About";
}
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Content/js/bootstrap.bundle.js"></script>
    <style>
.about{min-height:600px;background:white;}
.offer{min-height:400px;background:white;}
.txt{color:#324a6d;}
.txt:hover{color:#2ab391;}
.mission{min-height:600px; color:#324a6d;}
@*
.ani1{animation-name:vicky1;
animation-iteration-count:infinite;
animation-duration:.5s;
animation-delay:2s;}
@keyframes vicky1
{
from{color:red;}
to{color:blue;}
50%{color:pink;}

}
*@
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row about">
            <div class="col-sm-6 p-2">
                <a href="web.html"><img src="/Content/finlogy/finlogy/image(1).png " height="500px;" width="100%;" style=" border-radius:1%;" /></a>
            </div>
            <div class="col-sm-6 ">
                <center><h2 style="font-size:50px;color:#324a6d;padding-top:100px;box-sizing:border-box;">About Us</h2></center><br />
                <center><span style="font-size:25px;"><b>Welcome to</b><b style="color:#2ab391;"> Fintech!</b></span>  <span style="font-size:18px;color:#324a6d;">Humari website ek trusted platform hai jo FinTech industry ke har aspect valuable aur insightful content provide karti hai.<br /><br />Hamara mission hai ki India ke logon tak financial technology ke bare mein accurate aur easy-to-understand information pahunchayein,taki har koi FinTech ke benefits ko samajh kar apne financial decisions ko smarter aur efficient bana sake.</span></center>
            </div>
        </div>

        <!---------------------------start offer------------------------------------------------->
        <div class="row offer">
            <div class="col-sm-6">

                <!-- <div class="ani1"><span>What's we</span><h2> Offer</h2></div><br/> -->
                <span style="font-size:30px;color:#324a6d;"><b>What's we </b><b style="color:#2ab391;"> Offer</b></span><br /><br />
                <div class="txt">
                    <span><b style="color:black;">1. FinTech Insights in Simple Language :</b></span>
                    <span><i>Humari post aisi language mein likhi jati hain jo India ke maximum log samajh sakte hain,jisme Hindi aur English ka use hota hai.</i></span><br /><br />
                </div>

                <div class="txt">
                    <span><b style="color:black;">2. Blockchain & Cryptocurrency :</b></span>
                    <span><i>Blockchain & Cryptocurrency jaise complex topics ko jum simple aur relatable tarike se explain karte hain. Har naye trend aur update ka analysis yahan milega.</i></span><br /><br />
                </div>

                <div class="txt">
                    <span><b style="color:black;">3. Cybersecurity Awareness :</b></span>
                    <span><i>Financial technology ke saath cybersecurity bhi essential hai.Hum apne readers ko educate karte hain ki kaise wo apne financial data aur digital transactions ko secure rakhein.</i></span><br /><br />
                </div>

                <div class="txt">
                    <span><b style="color:black;">4. Technology Updates :</b></span>
                    <span><i>FinTech se judi har nai technology, tools aur trends ki information regularly share ki jati hai taki aap hamare saath hamesha updated rahen.</i></span><br /><br />
                </div>

                <div class="txt">
                    <span><b style="color:black;">5. India-Focused Approach:</b></span>
                    <span><i>Hamare blog ka focus Indian users ki zarurat aur interest ke according content create karna hai.Yahan aapko wo insights milenge jo specifically India ke FinTech ecosystem se jude hain.</i></span>
                </div>
            </div>

            <div class="col-sm-6">
                <span style="font-size:30px;color:#324a6d;"><b>Why</b> <b style="color:#2ab391;"> Choose</b></span> <b style="font-size:30px;color:#324a6d;"> Us ?</b><br /><br />
                <div class="txt"><span><b style="color:black;"> Reliable Information :</b><i> Hamare articles well-researched hote hain aur verified sources par based hote hain.</i></span></div> <br /><div class="txt"><span><b style="color:black;">  Easy-to Understand Content : </b><i>Complex financial aur technological concepts ko hum simple tarike se explain karte hain. </i></span></div><br /><div class="txt"><span><b style="color:black;"> Regular Updates : </b> <i>Aapko FinTech,blockchain,cryptcurrency,aur technology ke latest updates aur trends hamare blog par milenge.</i></span></div><br /><div class="txt"><span><b style="color:black;"> Engaging Community : </b><i> Humara aim hai ki ek aisi community banani jo Fintech aur technology ko lekar curious aur informed ho.</i></span></div><br /><div class="txt"><span><b style="color:black;"> Join the Journey : </b>  <i>Hamari website sirf ek information plateform nahi,balki ek safar hai jahan aap FinTech aur technology ko deeply samajh sakte hain. Chahe aap ek enthusiast, yahan sab ke liye kuchh na kuchh hai.<br /><br /><b> Hume apna valuable feedback aur suggestion zarur dein taki hum aur behtareen content create kar sakein.</b><br />Stay Updated , Stay Ahead ! <br />Apna knowledge badhaiye, aur Fintech ke naye era ka hissa baniye.</i></span></div><br /><br />
            </div>
        </div>

        <!---------------------------end offer------------------------------------------------->
        <!---------------------------start mission------------------------------------------------->
        <div class="row mission">
            <div class="col-sm-6" style="padding-top:50px; box-sizing:border-box;">
                <center><span style="font-size:50px;color:#324a6d;"><b>Our</b><b style="color:#2ab391;"> Mission</b></span></center>
                <center><span style="font-size:18px;">Hamara mission hai ki financial technology <b>(FinTech)</b> aur usse judi innovations ko har insaan tak pohchana, wo bhi asaan aur relatable tarike se. Hum chahte hain ki har vyakti FinTech ke potential ko samajh sake aur apne financial decisions ko smarter aur secure bana sake.</span></center><br />
                <span style="font-size:30px;color:#324a6d;font-weight:bold;">What Drive Us</span><br><br />
                <div class="txt"><span><b style="color:black;"> Empowerment Through Knowledge:</b><i> Hamara aim hai logon ko FinTech, blockchain, cryptocurrency, cybersecurity, aur technology ke baare mein educate karna. Jyada knowledge se better decisions liye ja sakte hain.</i></span></div><br /><div class="txt"><span><b style="color:black;"> Simplifying Complex Topics:</b><i> FinTech aur technology ke topics kaafi complex hote hain, lekin hamara goal hai inhe samajhne layak aur easy banakar sab tak pahunchana.</i></span></div><br />
                <div class="txt"><b style="color:black;"> Promoting Financial Inclusion:</b><i> India jese desh mein financial inclusion ek important challenge hai. Humari koshish hai ki logon ko digital aur financial tools ke baare mein aware karakar unka maximum benefit diya ja sake.</i></div><br />
                <div class="txt"><b style="color:black;"> Building Trust and Transparency:</b><i> FinTech aur cryptocurrency jese fields mein transparency aur trust bahut zaroori hai. Hamare content ka focus hamesha authentic aur verified information provide karna hai.</i></div><br />
                <div class="txt">
                    <b style="color:black;"> Keeping You Ahead:</b><i>
                        Technology aur finance din-din evolve ho rahe hain. Hamara mission hai ki aap hamesha naye trends aur updates ke saath updated rahen aur is rapidly changing world mein lead karein.<br /><br />

                        Hamari ye belief hai ki knowledge is power, aur knowledge ko simplify karke share karna ek responsibility hai. Humari team dedicated hai aap tak meaningful, engaging, aur high-quality content pohchane ke liye jo sirf informative nahi, balki practical bhi ho.<br /><br />
                        Join us in this journey of financial and technological growth!<br /><br />

                    </i>
                </div>
            </div>
            <div class="col-sm-6  p-3">
                <img src="/Content/finlogy/finlogy/image(10).png" height="600px" width="95%;" style="margin-left:0%; border-radius:1%;" />
            </div>
        </div>
        <!---------------------------end mission------------------------------------------------->

    </div>
</body>
</html>

@*<html>
<head>
    <link href="~/Content/css/all.css" rel="stylesheet" />
    <link href="~/Content/css/all.min.css" rel="stylesheet" />
    <script src="~/Content/js/bootstrap.bundle.js"></script>
    <style>
        .about{min-height:400px;border:3px solid lightgreen;border-radius:5px;box-shadow:0px 0px 5px lightskyblue;}
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 about mx-auto bg-light mt-4">
                <center><h2 style="margin:4% auto;"><b style= "color:skyblue; border-bottom:3px solid skyblue;">About</b> <b style="color:lightgreen;border-bottom:3px solid lightgreen;">Fintechlogy</b></h2></center>
                <div style="text-align:center;">
                <span>
                    At <b>Fitechlogy</b>,we are commited to revolutionizing the financial world with cutting-edge technology.Our mission to empower individuals and businesses by
                    providing innovation,efficient,and userfriendly financial solution that drive growth and entity;
                </span><br/><br/><br/>
                    <span>
                        Whether it's seamless payments, smart investment tools,or rubust security,Fintechlogy is designed to make financial management easier and more accessible for everyone.
                        join us as we reshape the future of finance,one innovation at a time. 
                    </span>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>*@

